name: Run Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-15
    outputs: 
      STATUS: ${{ steps.set_status.outputs.STATUS }}
    steps:
    - uses: actions/checkout@v4
    - name: Build project and run tests
      run: xcodebuild test -quiet -scheme MijickPopups -destination 'platform=iOS Simulator,name=iPhone 13 Pro' -resultBundlePath TestResult
    - name: Set env STATUS
      if: always()
      id: set_status
      run: |
        if [[ ${{ job.status }} == 'success' ]]; then
            echo "STATUS=success" >> $GITHUB_OUTPUT
        else
            echo "STATUS=failure" >> $GITHUB_OUTPUT
        fi
